<ng-progress [showSpinner]="true"></ng-progress>

<div id="app-content" class="container">
  <div id="toolbar">
    <app-change-language></app-change-language>
  </div>

  <router-outlet></router-outlet>
</div>
