<div class="panel panel-primary">
  <div class="panel-heading">{{ 'Customers' | translate }} <span class="badge">{{ itens.length }}</span></div>
  <div class="panel-body">
    <button id="btnNew" type="button" class="btn btn-primary" (click)="new()"><span class="glyphicon glyphicon-plus"></span> {{ 'New' | translate }}</button>

    <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'Name' | translate }}</th>
          <th>{{ 'Email' | translate }}</th>
          <th>{{ 'Created_At' | translate }}</th>
          <th>{{ 'Update_At' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens" (dblclick)="edit(item.id)" >
          <td><a routerLink="/customer/{{ item.id }}">{{ item.id }}</a></td>
          <td>{{ item.name }}</td>
          <td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
          <td>{{ item.created_at | date : dateHourFormat }}</td>
          <td>{{ item.updated_at | date : dateHourFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
