<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>

  <div class="panel-body">
    <div *ngIf="message" class="alert alert-{{message.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" *ngIf="message.dismissible"><span aria-hidden="true">&times;</span></button>
      <span>{{ message.message}}</span>
    </div>

    <form class="form-horizontal" [formGroup]="form" (keyup.enter)="submitForm()" novalidate>
      <div class="form-group" [ngClass]="applyCss(field.name)" *ngFor="let field of fields" >
        <label [for]="field.inputName" class="control-label">{{ field.translate | translate }} *</label>
        <div>
          <input [type]="field.type" [id]="field.inputName" [name]="field.inputName" class="form-control" [formControlName]="field.name">
        </div>

        <div *ngIf="formSubmitted && field.name === 'email' && !form.controls['email'].errors?.required && form.controls['email'].errors?.email && form.controls['email'].dirty" class="alert alert-danger" role="alert">
          <span>{{ 'Invalid_Email' | translate }}</span>
        </div>

        <div *ngIf="formSubmitted && field.name === 'state' && !form.controls['state'].errors?.required && form.controls['state'].errors?.minlength && form.controls['state'].dirty" class="alert alert-danger" role="alert">
          <span>{{ 'Invalid_MinLength' | translate:{value: '2'} }}</span>
        </div>
      </div>
    </form>
  </div>

  <div class="panel-footer">
    <span *ngIf="deleteMode" class="confirm-delete">{{ 'Confirm_Delete' | translate }}</span>
    <button type="button" class="btn btn-danger" *ngIf="!isNew" (click)="delete()" [disabled]="processing">
      <span class="glyphicon glyphicon-remove-circle"></span> {{ (deleteMode ? 'Yes' : 'Delete') | translate }}
    </button>
    <button id="btnDelete" type="button" class="btn btn-warning" (click)="navigateBack()">
      <span class="glyphicon glyphicon-arrow-left"></span> {{ (deleteMode ? 'No' : 'Cancel') | translate }}
    </button>
    <button *ngIf="!deleteMode" id="btnSave" type="submit" class="btn btn-primary" (click)="submitForm()" [disabled]="processing">
      <span class="glyphicon glyphicon-save"></span> {{ 'Save' | translate }}
    </button>
  </div>
</div>
