
@mixin widthCalc ($valor) {
  // Firefox
  width: -moz-calc($valor);
  // WebKit
  width: -webkit-calc($valor);
  // Opera
  width: -o-calc($valor);
  // Standard
  width: calc($valor);
}

@mixin roundedBorder($tamanho) {
	-moz-border-radius: $tamanho;
	-webkit-border-radius: $tamanho;
  -ms-border-radius: $tamanho;
	border-radius: $tamanho;
}

@mixin centralized {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
