@import 'preprocessor';

// --- Tags --- //

html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

a, button, li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

// ---- App --- //

#app-content {
  padding-top: 30px;

  #toolbar {
    display: flex;

    app-change-language {
      margin-left: auto;
    }
  }
}

app-customer-form {
  .panel {
    max-width: 500px;
    width: 100%;
    @include centralized;

    .panel-footer {
      display: flex;

      .confirm-delete {
        margin-right: 10px;
        font-weight: bolder;
      }

      #btnDelete, #btnSave {
        margin-left: auto;
      }
    }
  }
}

// ---- Bootstrap --- //

.alert {
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.form-horizontal {
  .form-group {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.panel {
  .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
